# Environment files
.env
*.env
.env.*

# Python
.venv/
__pycache__/
*.pyc

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Power BI temporary files
~$*.pbix

# Temporary and local dashboards
data/dashboard/
dashboard/
